@font-face {
    font-display: swap;
    font-family: 'Nunito-Sans';
    src: local('Nunito-Sans'), url('../fonts/NunitoSans-VariableFont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-display: swap;
    font-family: 'Nunito-Sans';
    src: local('Nunito-Sans'), url('../fonts/NunitoSans-VariableFont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'NEXT_ART';
    src: local('NEXT_ART'), url('../fonts/NEXT\ ART_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
