/* ======================== */
    /* Шрифты */
/* ======================== */

@import url(fonts.css);

/* ======================== */
    /* Переменные */
/* ======================== */

:root {
    --white: rgba(253, 253, 253, 1);
    --dark-slate-gray: rgba(26, 62, 62, 1);
    --cloudy: rgba(255, 255, 255, 0.2);
    --border-input: rgba(225, 227, 228, 1);
}

/* ======================== */
    /* Общие стили */
/* ======================== */

* {
    margin: 0;
}

body {
    font-family: 'Nunito-Sans';
}

a {
    text-decoration: none;
    color: var(--white);
}

.background {
    height: 100vh;
    overflow: auto;
    background-image: url(../img/Rectangle\ 1.jpg);
}

.btn-slate {
    background-color: var(--dark-slate-gray);
    padding: 12px 24px;
}

/* ======================== */
    /* header */
/* ======================== */

.container {
    margin: auto;
    width: 1180px;
}

.header{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    column-gap: 24px;
    font-weight: 600;
}

.header__special-item {
    padding-left: 25px;
}

/* ======================== */
    /* body */
/* ======================== */

h1 {
    margin-top: 463px;
    font-family: 'NEXT_ART';
    font-size: 50px;
    color: var(--white);
}

.h1__span {
    white-space: nowrap;
}

/* ======================== */
    /* form */
/* ======================== */

.find-program {
    margin-top: 41px;
    padding: 40px ;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.find-program__el {
    display: grid;
    row-gap: 8px;
    width: 270px;
}

.find-program__input {
    width: 100%;
    padding: 14px 16px;
    background-color: transparent;
    border: 1px solid var(--border-input);
    border-radius: 8px;
    font-family: 'Nunito-Sans';
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    outline: none;
    cursor: pointer;
    /* стилизация значка */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.find-program__custom {
    position: relative;
}

.find-program__custom::before {
    content: '';

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    display: block;
    width: 20px;
    height: 20px;

    background-image: url(../img/check_mark.svg);
    /* width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: var(--white) transparent transparent transparent; */

    pointer-events: none;
}

/* убираем стрелочку вниз для браузера IE */
.find-program__input::-ms-expand {
    display: none;
}

.find-program__labels {
    padding: 0 8px;
    color: var(--white);
    font-size: 14px;
}