/* ======================== */
    /* Шрифты */
/* ======================== */

@import url(fonts.css);

/* ======================== */
    /* Переменные */
/* ======================== */

:root {
    --white: rgba(253, 253, 253, 1);
    --dark-slate-gray: rgba(26, 62, 62, 1);
    --cloudy: rgba(255, 255, 255, 0.2);
    --border-input: rgba(225, 227, 228, 1);
    --background-silver: rgba(243, 245, 244, 1);
    --gold: rgba(242, 190, 34, 1);
    --aquamarine: rgba(26, 62, 62, 1)
}

/* ======================== */
    /* Общие стили */
/* ======================== */

* {
    margin: 0;
}

body {
    font-family: 'Nunito-Sans';
}

a {
    text-decoration: none;
    color: var(--white);
}

/* ================================== */
.background {
    width: 100%;
    margin: auto;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg__header {
    background-image: url(../img/Rectangle\ 1.jpg);
}

.bg__silver {
    background-color: var(--background-silver);
}

.container {
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 90vh; /* или другая высота */

    padding: 20px 16px 50px 16px;
}

.block-title {
    padding: 40px 0 20px;
}

.block-title__h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--gold)
}

.block-title__h2 {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

.cursor {
    cursor: url(../img/cursor.svg), auto;
}

/* ======================== */
    /* buttons */
/* ======================== */

.btn-slate {
    background-color: var(--dark-slate-gray);
    padding: 12px 24px;
}

.find-program__btn {
    width: 100%;
    height: 52px;
    padding: 16px 36px;
    border-radius: 4px;
    background-color: var(--white);
    color: black;
    box-sizing: border-box;
    font-size: 16px;
}

/* ======================== */
    /* header */
/* ======================== */

.header {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: none;
}

.menu__button {
    display: block;
    visibility: visible;
    opacity: 1;
}

.menu {
    display: none;
    padding: 50px 16px 331px 16px;
    list-style-type: none;
    background-color: var(--aquamarine);
}

.header__menu_hidden {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    padding: 16px;
}

.header__menu_close {
    display: flex;
    width: 42vh;
    justify-content: flex-end;
}

.header__menu_close-btn {
    margin-top: 11px;
}

.header__menu_li {
    padding-bottom: 16px;
}

.arrow-right {
    margin-right: 8px;
}

.logo {
    width: 84px;
}

.header__special-item {
    padding-left: 25px;
}

/* ======================== */
    /* body */
/* ======================== */

.main-content {
    margin-top: auto;
}

h1 {
    display: none;
}

.h1_mw390 {
    display: block;
    font-family: 'NEXT_ART';
    font-size: 28px;
    color: var(--white);
}

.h1__span {
    white-space: nowrap;
}

/* ======================== */
    /* form */
/* ======================== */

.find-program {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    background: transparent;
}

.find-program__el {
    display: none;
}

.find-program__input {
    width: 100%;
    padding: 14px 16px;
    background-color: transparent;
    border: 1px solid var(--border-input);
    border-radius: 8px;
    font-family: 'Nunito-Sans';
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.find-program__pin::before,
.find-program__calendar::before {
    display: none;
}

.find-program__input::-ms-expand {
    display: none;
}

.find-program__labels {
    padding: 8px;
    color: var(--white);
    font-size: 14px;
}

/* ======================== */
    /* travel */
/* ======================== */

/* .travel {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.travel__content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
} */

.travel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 16px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.travel__content {
    flex: 0 0 auto;
    width: 85%;
    max-width: 300px;
    scroll-snap-align: start;
    min-height: auto;
    background-color: var(--white);
    border-radius: 6px;
}

/* .travel::-webkit-scrollbar {
    height: 6px;
}

.travel::-webkit-scrollbar-track {
    background: var(--background-silver);
    border-radius: 3px;
}

.travel::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 3px;
} */

.travel__img {
    width: 100%;
    max-width: 100%;
    height: 285px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.travel__article {
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.travel__h4 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
}

.travel__p {
    display: -webkit-box;
    /* line-clamp: 3; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 16px;
    font-size: 14px;
}

.travel-bottom {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.travel__date {
    font-size: 14px;
    font-weight: 700;
    color: var(--gold);
}

.travel__cont {
    font-size: 14px;
    font-weight: 700;
    color: var(--aquamarine);
}

.block-bottom {
    margin-bottom: 50px;
    text-align: center;
}
   
/* ======================== */
    /* Tablet Styles */
/* ======================== */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
        padding: 20px 16px;
    }

    .block-title {
        padding: 60px 0 30px;
    }

    .block-title__h3 {
        font-size: 20px;
    }

    .block-title__h2 {
        font-size: 28px;
    }

    .header__menu {
        display: flex;
        list-style-type: none;
        padding: 0;
        column-gap: 24px;
        font-weight: 600;
    }

    .menu__button {
        display: none;
    }

    .h1_mw390 {
        font-size: 36px;
        margin-top: 300px;
    }

    .find-program {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .find-program__el {
        display: grid;
        row-gap: 8px;
    }

    .travel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .travel__content {
        flex-direction: row;
    }

    .travel__img {
        max-width: 150px;
        height: 150px;
    }
}

/* ======================== */
    /* Desktop Styles */
/* ======================== */

@media (min-width: 1180px) {
    .container {
        width: 1180px;
        max-width: 1180px;
        padding: 0;
    }

    .block-title {
        padding: 80px 0 40px;
    }

    .block-title__h3 {
        font-size: 24px;
    }

    .block-title__h2 {
        font-size: 32px;
    }

    .header {
        margin-top: 16px;
    }

    h1 {
        display: block;
        margin-top: 463px;
        font-family: 'NEXT_ART';
        font-size: 50px;
        color: var(--white);
    }

    .h1_mw390 {
        display: none;
    }

    .find-program {
        grid-template-columns: repeat(4, 270px);
        column-gap: 24px;
        margin-top: 41px;
        margin-bottom: 82px;
        padding: 40px;
    }

    .find-program__btn {
        width: 213px;
    }

    .find-program__pin::before,
    .find-program__calendar::before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: none;
    }

    .find-program__pin::before {
        background-image: url(../img/check_mark.svg);
    }

    .find-program__calendar::before {
        background-image: url(../img/calendar.svg);
    }

    .find-program__pin,
    .find-program__calendar {
        position: relative;
    }

    .travel {
        margin-bottom: 50px;
        grid-template-columns: repeat(2, 580px);
        grid-template-rows: repeat(2, 312px);
        grid-column-gap: 20px;
        grid-row-gap: 24px;
    }

    .travel__content {
        max-width: unset;
        width: unset;

        padding: 16px;

        display: flex;
        column-gap: 24px;

        background-color: var(--white);
        border-radius: 10px;
    }

    .travel__img {
        max-width: 230px;
        height: auto;
    }

    .travel__article {
        padding: unset;
        width: 294px;
    }

    .travel__h4 {
        margin-top: 16px;
        font-size: 24px;
    }

    .travel__p {
        line-clamp: 5;
        -webkit-line-clamp: 5;
        margin-top: 24px;
    }

    .travel-bottom {
        margin-top: auto;
        padding-right: 16px;
    }

    .block-bottom {
        margin-bottom: 100px;
    }
}